<%= form_with(model: event_ticket) do |form| %>
  <% if event_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_ticket.errors.count, "error") %> prohibited this event_ticket from being saved:</h2>

      <ul>
        <% event_ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">-->
    <%#= form.label :number_of_tickets %>
    <%#= form.text_field :number_of_tickets, type: :number %>
<!--  </div>-->

  <div class="field">
<!--    <strong>Event:</strong> <%#= @event.event_name %>-->
    <%= form.hidden_field :event_id, value: @event.id%>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="field">
    <%= form.label :number_of_tickets %>
    <%= form.text_field :ticket_quantity, id: 'number_of_tickets', type: :number, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :total_price, 'Total Price' %>
    <%= form.number_field :total_price, id: 'total_price', readonly: true, disabled: true %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--        var ticketPrice = <%#= @event.ticketPrice %>;-->
<!--        var numberInput = document.getElementById('number_of_tickets');-->
<!--        var totalPriceInput = document.getElementById('total_price');-->

<!--        numberInput.addEventListener('input', function() {-->
<!--            var numberOfTickets = parseInt(numberInput.value);-->
<!--            var totalPrice = ticketPrice * numberOfTickets;-->
<!--            totalPriceInput.value = isNaN(totalPrice) ? '' : totalPrice.toFixed(2); // Display total price with 2 decimal places-->
<!--        });-->
<!--    });-->
<!--</script>-->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ticketPrice = <%= @event.ticketPrice %>;
        var numberInput = document.getElementById('number_of_tickets');
        var totalPriceInput = document.getElementById('total_price');
        var seatsLeft = <%= @event.seatsLeft %>;

        numberInput.addEventListener('input', function() {
            var numberOfTickets = parseInt(numberInput.value);
            if (numberOfTickets > seatsLeft) {
                alert('Number of tickets cannot exceed available seats.');
                numberInput.value = '';
                numberOfTickets = '';
                totalPriceInput.value = '';
            }
            else if (numberOfTickets == 0) {
                alert('Number of tickets cannot be 0.');
                numberInput.value = '';
                numberOfTickets = '';
                totalPriceInput.value = '';
            }
            else {
                var totalPrice = ticketPrice * numberOfTickets;
                totalPriceInput.value = isNaN(totalPrice) ? '' : totalPrice.toFixed(2);
            }
        });
    });
</script>