<h1> All Bookings</h1>

<div style="margin-bottom: 20px;">
  <%= label_tag(:eventName, "Search by Event Name:", style: "margin-right: 5px;") %>
  <%= text_field_tag(:eventName, nil, id: 'eventName') %>
</div>

<h2>Upcoming Events</h2>
<table>
  <thead>
  <tr>
    <th>User Name</th>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Event Start Time</th>
    <th>Event End Time</th>
    <th>Confirmation Number</th>
    <th>Number of Tickets</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @event_tickets.each do |event_ticket| %>
    <tr class="event-item" data-eventname="<%= event_ticket.event.name %>">
      <td><%= User.find_by(id: event_ticket.purchased_for_user_id)&.name %></td>
      <td><%= event_ticket.event.name %></td>
      <td><%= event_ticket.event.date %></td>
      <td><%= event_ticket.event.startTime.strftime("%H:%M") %></td>
      <td><%= event_ticket.event.endTime.strftime("%H:%M") %></td>
      <td><%= event_ticket.confirmationNumber %></td>
      <td><%= event_ticket.ticket_quantity %></td>
      <td><%= link_to 'Edit', edit_event_ticket_path(event_ticket) %></td>
      <td><%= button_to 'Destroy', event_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Home Page', root_path %>
<%= link_to "Logout", logout_path %>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        console.log("Inside the JavaScript")
        var eventNameFilter = document.getElementById('eventName');

        function filterBookings() {

            var eventName = eventNameFilter.value.toLowerCase();
            var eventItems = document.querySelectorAll('.event-item');
            console.log("Filter Booking Called")

            eventItems.forEach(function(eventItem) {
                var eventNameData = eventItem.getAttribute('data-eventname').toLowerCase();
                var nameMatch = !eventName || eventNameData.startsWith(eventName.toLowerCase());
                eventItem.style.display = (nameMatch) ? 'table-row' : 'none';
            });
        }

        function resetFilters() {
            eventNameFilter.value = '';
            filterBookings();
        }

        eventNameFilter.addEventListener('input', function() {
            if (!this.value) resetFilters();
            else filterBookings();
        });

    });
</script>
