<h1> All Bookings</h1>

<div style="margin-bottom: 20px;">
  <%= label_tag(:search_event_name, "Search by Event Name:", style: "margin-right: 5px;") %>
  <%= text_field_tag(:search_event_name, nil, id: 'search_event_name') %>
</div>

<h2>Upcoming Events</h2>
<table>
  <thead>
  <tr>
    <th>User ID</th>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Event Start Time</th>
    <th>Event End Time</th>
    <th>Confirmation Number</th>
    <th>Number of Tickets</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @event_tickets.each do |event_ticket| %>
    <tr>
      <td><%= event_ticket.user.name %></td>
      <td><%= event_ticket.event.name %></td>
      <td><%= event_ticket.event.date %></td>
      <td><%= event_ticket.event.startTime %></td>
      <td><%= event_ticket.event.endTime %></td>
      <td><%= event_ticket.confirmationNumber %></td>
      <td><%= event_ticket.ticket_quantity %></td>
      <!--        <td><%#= link_to 'Show', event_ticket %></td>-->
      <td><%= link_to 'Edit', edit_event_ticket_path(event_ticket) %></td>
      <td><%= button_to 'Destroy', event_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Home Page', root_path %>
<%= link_to "Logout", logout_path %>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var searchEventNameInput = document.getElementById('search_event_name');

        function filterBookings() {
            var searchValue = searchEventNameInput.value.toLowerCase();
            var bookingRows = document.querySelectorAll('tbody tr');

            bookingRows.forEach(function(row) {
                var eventName = row.cells[1].textContent.toLowerCase();
                if (eventName.includes(searchValue)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }

        searchEventNameInput.addEventListener('input', filterBookings);
    });
</script>
