<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.hidden_field :event_id, value: @event.id %>

  <div class="field">
    <%= form.label :rating, "Rating (1 - 5)" %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :feedback %>
    <%= form.text_area :feedback %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
