<p id="notice"><%= notice %></p>
<h1>Events</h1>

<br><br>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">

  <%= label_tag(:eventName, "Filter by Event Name:", style: "flex: 0 0 auto; margin-right: 5px;") %>
  <%= text_field_tag(:eventName, nil, id: 'eventName') %>
  <%= label_tag(:category, "Filter by Category:", style: "flex: 0 0 auto; margin-right: 5px;") %>
  <%#= select_tag(:category, options_for_select(['Concerts', 'Sports', 'Arts & Theatre', 'Miscellaneous/Family – Private']), id: 'category') %>
  <%= select_tag(:category, options_for_select([['Select a Category', ''], 'Concerts', 'Sports', 'Arts & Theatre', 'Miscellaneous/Family – Private']), id: 'category') %>
  <%= label_tag(:date, "Filter by Date:", style: "flex: 0 0 auto; margin-right: 5px;") %>
  <%= date_field_tag(:date, nil, id: 'date') %>
  <button type="button" id="clear-date" style="height: fit-content;">Clear Date</button>
  <%= label_tag(:min_price, "Min Price:", style: "flex: 0 0 auto; margin-right: 5px;") %>
  <%= number_field_tag(:min_price, nil, id: 'min_price') %>
</div>

<br>
<div style="display: flex; flex-wrap: wrap; gap: 20px;">

  <%= label_tag(:max_price, "Max Price:", style: "flex: 0 0 auto; margin-right: 5px;") %>
  <%= number_field_tag(:max_price, nil, id: 'max_price') %>
</div>


<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Date</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Ticketprice</th>
      <th>Room ID</th>
      <th>Seatsleft</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tbody">
    <% @events.each do |event| %>
        <tr class="event-item" data-category="<%= event.category %>" data-date="<%= event.date %>" data-price="<%= event.ticketPrice %>" data-eventname="<%= event.name %>">
          <% if current_user.name == "admin" %>
                <td><%= event.name %></td>
                <td><%= event.category %></td>
                <td><%= event.date %></td>
                <td><%= event.startTime.strftime("%H:%M") %></td>
                <td><%= event.endTime.strftime("%H:%M") %></td>
                <td><%= event.ticketPrice %></td>
                <td><%= event.room_id %></td>
                <td><%= event.seatsLeft %></td>
                <% if event.seatsLeft > 0 && event.date >= Time.now.utc.to_date %>
                    <% if event.date == Time.now.utc.to_date && event.startTime.strftime("%H:%M") <= Time.current.strftime("%H:%M") %>
                    <% else %>
                        <td><%= link_to 'Show', event %></td>
                    <% end %>
                <% end %>
                <% if current_user.name == "admin" %>
                  <td><%= link_to 'Edit', edit_event_path(event) %></td>
                  <td><%= button_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
          <% else %>
                <% if event.seatsLeft > 0 && event.date >= Time.now.utc.to_date %>
                      <% if event.date == Time.now.utc.to_date && event.startTime.strftime("%H:%M") <= Time.current.strftime("%H:%M") %>
                      <% else %>
                        <td><%= event.name %></td>
                        <td><%= event.category %></td>
                        <td><%= event.date %></td>
                        <td><%= event.startTime.strftime("%H:%M") %></td>
                        <td><%= event.endTime.strftime("%H:%M") %></td>
                        <td><%= event.ticketPrice %></td>
                        <td><%= event.room_id %></td>
                        <td><%= event.seatsLeft %></td>
                        <td><%= link_to 'Show', event %></td>
                      <% end %>

                <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.name == "admin" %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
<%= link_to 'Home Page', root_path %>
<%= link_to "Logout", logout_path %>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        console.log("Inside the JavaScript")

        var categoryFilter = document.getElementById('category');
        var dateFilter = document.getElementById('date');
        var minPriceFilter = document.getElementById('min_price');
        var maxPriceFilter = document.getElementById('max_price');
        var eventNameFilter = document.getElementById('eventName');
        var clearDateBtn = document.getElementById('clear-date');

        function filterEvents() {
            var category = categoryFilter.value;
            var date = dateFilter.value;
            var minPrice = parseFloat(minPriceFilter.value);
            var maxPrice = parseFloat(maxPriceFilter.value);
            var eventName = eventNameFilter.value.toLowerCase();

            if (!isNaN(minPrice) && !isNaN(maxPrice) && minPrice > maxPrice) {
                alert('The minimum price should not be greater than the maximum price.');
                minPriceFilter.value = '';
                maxPriceFilter.value = '';
                return;
            }

            console.log("FilterEvent Function is Called")

            var eventItems = document.querySelectorAll('.event-item');

            eventItems.forEach(function(eventItem) {
                var eventCategory = eventItem.getAttribute('data-category');
                var eventDate = eventItem.getAttribute('data-date');
                var eventPrice = parseFloat(eventItem.getAttribute('data-price'));
                var eventNameData = eventItem.getAttribute('data-eventname').toLowerCase();

                console.log("Event Date:", eventDate);

                var categoryMatch = !category || category === eventCategory;
                var dateMatch = !date || date === eventDate;
                var priceMatch = (!minPrice || eventPrice >= minPrice) && (!maxPrice || eventPrice <= maxPrice);
                var nameMatch = !eventName || eventNameData.startsWith(eventName.toLowerCase());

                eventItem.style.display = (categoryMatch && dateMatch && priceMatch && nameMatch) ? 'table-row' : 'none';

            });
        }

        function resetFilters() {
            eventNameFilter.value = '';
            categoryFilter.value = '';
            dateFilter.value = '';
            minPriceFilter.value = '';
            maxPriceFilter.value = '';
            filterEvents();
        }

        eventNameFilter.addEventListener('input', function() {
            if (!this.value) resetFilters();
            else filterEvents();
        });
        categoryFilter.addEventListener('input', function() {
            if (!this.value) resetFilters();
            else filterEvents();
        });
        dateFilter.addEventListener('change', function() {
            if (!this.value) resetFilters();
            else filterEvents();
        });
        minPriceFilter.addEventListener('input', function() {
            if (!this.value) resetFilters();
            else filterEvents();
        });
        maxPriceFilter.addEventListener('input', function() {
            if (!this.value) resetFilters();
            else filterEvents();
        });
        clearDateBtn.addEventListener('click', function() {
            dateFilter.value = '';
            filterEvents();
        });


    });
</script>

