<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @event.startTime.strftime("%H:%M") %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @event.endTime.strftime("%H:%M") %>
</p>

<p>
  <strong>Ticketprice:</strong>
  <%= @event.ticketPrice %>
</p>

<p>
  <strong>Seatsleft:</strong>
  <%= @event.seatsLeft %>
</p>

<%= link_to 'Buy Tickets', new_event_ticket_path(event_id: @event.id, ticket_price: @event.ticketPrice, room_id:@event.room_id), class: 'btn btn-primary' %>&nbsp
<% if current_user.name == "admin" %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
<%= link_to 'Home Page', root_path %>
<%= link_to "Logout", logout_path %>

